.jumbotron {
  background: #19110B;
  color: #F79E1B;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #19110B;
    border-color: #F79E1B; }
    .btn-primary
    {
      transition: all 300ms ease;
    }
    .btn-default
    {
      transition: all 300ms ease;
    }
    .jumbotron .btn-primary .btn-default:hover {
      background: rgb(50, 50, 50);
    transform: translate(0px, -15px); }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background-color: black;
    background: #19110B;
    background-size: contain;
    color: #19110B;
    border-radius: 2%;
    overflow: hidden;
    width: 25%;
    height: 25%;
    margin: auto;
    border: 3px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
    
      

