.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary .btn-default
    {
      transition: ease 300ms;
    }
    .jumbotron .btn-primary .btn-default:hover {
      background: #7646c1;
    transform: translate(0px, -20px); }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 2%;
    overflow: hidden;
    width: 25%;
    height: 25%;
    margin: auto;
    border: 2px solid black; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
    
      

