<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>This is task 3 for Mastercard Application task</h1>
    <p>This is a small webpage sample used to deploy with java, I have added a few tweaks but nothing major.<br><br>This task was only given to me 3 days ago and with part time work and college projects. It was a lot to take on all 3!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/nathoandrews1/MastercardInterview"><span class="glyphicon glyphicon-flash"></span>Task 1 and Task 2 Git Repo!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/nathoandrews1/Heroku-App"><span class="glyphicon glyphicon-download"></span>This page Source on GitHub</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed using Git</li>
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/java-getting-started/blob/main/pom.xml">pom.xml</a>, creating a slug.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Mastercard interview !</li>
        <li>Figure out more about Heroku cloud apps</li>
        <li>Very curious to have more understanding of what is going on here.</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://n83d.weebly.com">My 3D Game Dev portfolio</a></li>
        <li><a href="https://github.com/nathoandrews1">My Github!</a></li>
        <li><a href="https://github.com/nathoandrews1/MastercardInterview">Task 1 And Task 2!</a></li>
      </ul>
    </div>
  </div> <!-- row -->
  <div class="rowForm">
    <div class="col-75">
      <div class="containerForm">
        <form action="/action_page.php">
  
          <div class="rowForm">
            <div class="col-50">
              <h3>Billing Address</h3>
              <label for="fname"><i class="fa fa-user"></i> Full Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Nathan">
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input type="text" id="email" name="email" placeholder="someemail@gmail.com">
              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              <input type="text" id="adr" name="address" placeholder="104th Summerville road">
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input type="text" id="city" name="city" placeholder="Dundrum">
  
              <div class="rowForm">
                <div class="col-50">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" placeholder="Dublin">
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip" placeholder="d14 x000">
                </div>
              </div>
            </div>
  
            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-containerForm">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-amex" style="color:blue;"></i>
                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                <i class="fa fa-cc-discover" style="color:orange;"></i>
              </div>
              <label for="cname">Name on Card</label>
              <input type="text" id="cname" name="cardname" placeholder="John More Doe">
              <label for="ccnum">Credit card number</label>
              <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
              <label for="expmonth">Exp Month</label>
              <input type="text" id="expmonth" name="expmonth" placeholder="September">
  
              <div class="rowForm">
                <div class="col-50">
                  <label for="expyear">Exp Year</label>
                  <input type="text" id="expyear" name="expyear" placeholder="2018">
                </div>
                <div class="col-50">
                  <label for="cvv">CVV</label>
                  <input type="text" id="cvv" name="cvv" placeholder="352">
                </div>
              </div>
            </div>
  
          </div>
          <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
          </label>
          <input type="submit" value="Continue to checkout" class="btn">
        </form>
      </div>
    </div>
</div>


</body>
</html>
