<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>This is task 3 for Mastercard Application task</h1>
    <p>This is a small webpage sample used to deploy with java, I have added a few tweaks but nothing major.<br><br>This task was only given to me 3 days ago and with part time work and college projects. It was a lot to take on all 3!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/nathoandrews1/MastercardInterview"><span class="glyphicon glyphicon-flash"></span>Task 1 and Task 2 Git Repo!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/nathoandrews1/Heroku-App"><span class="glyphicon glyphicon-download"></span>This page Source on GitHub</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed using Git</li>
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/java-getting-started/blob/main/pom.xml">pom.xml</a>, creating a slug.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Mastercard interview !</li>
        <li>Figure out more about Heroku cloud apps</li>
        <li>Very curious to have more understanding of what is going on here.</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://n83d.weebly.com">My 3D Game Dev portfolio</a></li>
        <li><a href="https://github.com/nathoandrews1">My Github!</a></li>
        <li><a href="https://github.com/nathoandrews1/MastercardInterview">Task 1 And Task 2!</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
